  <div class="container">
     <div class="row">

      <div class="col text-center m-5">
        <div class="h2 bold m-5">退会しますか？</div>
        <%= link_to "退会をやめる", root_path, class: "btn btn-success" %>  <%= link_to "退会する", withdrawal_public_customers_path, method: :patch, class: "btn btn-danger ml-5" %>
      </div>
    </div>
  </div>
