<div class="container">
  <div class="row">
    <div class="col">
      <div class="follow-field col-md-6 m-auto text-field">
        <table class="col">
          <% if customers.count >= 1 %>
            <tr>
              <th colspan="2">
                <% if followings %>
                  フォロー
                <% else %>
                  フォロワー
                <% end %>
              </th>
            </tr>

            <tr>
              <td>
                <% customers.each do |customer| %>
                  <div class="d-flex my-5 justify-content-between follow-customer">
                    <div class="d-flex h6 align-items-center">
                      <%= image_tag customer.get_customer_image(30,30)%>
                      <%= link_to customer.nick_name, public_customer_path(customer.id), class: "bold other-link ml-2" %>
                    </div>
                    
                    <div id="relationship-box" class="ml-3 ">
                      <%= render 'public/shared/relationships', customer: customer %>
                    </div>
                    
                  </div>
                <% end %>
              </td>
            </tr>
          <% else %>
            <tr>
              <td class="col">
                <p>
                  <% if followings %>
                    フォローしていません
                  <% else %>
                    フォロワーはいません
                  <% end %>
                </p>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6 mx-auto mt-4">
    <%= link_to public_customer_path(id), class: "default-color other-link" do %>
      <i class="fas fa-solid fa-reply mr-2"></i>戻る
    <% end %>
  </div>
</div>