<div class="container">
  <div class="row">
    <div class="col">
      <% form_with model: @work, url: public_works_path, method: :post do |f| %>
        
      <% end %>
    </div>
    
    <div class="col">
      <div>
        <table>
          
          <tr>
            <th></th>
            <td></td>
          </tr>
          
        </table>
      </div>
    </div>
  </div>
</div>