  <div class="container">
    <div class="wrap">
      <ul id="tab-menu">
        <li><a href="#tab1" class="active">全ての投稿</a></li>
        <li><a href="#tab2" class="">犬</a></li>
        <li><a href="#tab3" class="">猫</a></li>
        <li><a href="#tab4" class="">その他</a></li>
      </ul>

      <div id="tab-contents">
        <div id="tab1" class="tab">
          <p>TAB1のテキストが入ります。</p>
        </div>

        <div id="tab2" class="tab">
          <p>TAB2のテキストが入ります。TAB2のテキストが入ります。</p>
        </div>

        <div id="tab3" class="tab">
          <p>TAB3のテキストが入ります。TAB3のテキストが入ります。TAB3のテキストが入ります。</p>
        </div>

        <div id="tab4" class="tab">
          <p>TAB4のテキストが入ります。TAB4のテキストが入ります。TAB4のテキストが入ります。TAB4のテキストが入ります。</p>
        </div>
      </div>
    </div>
    <script src="js/script1.js"></script>
    <script src="js/script2.js"></script>
  </div>