<div class="container">
  <div class="row">
    <div class="col-sm-8 m-auto">

      <h2 class="mb-5 text-left">コメント編集</h2>
      <%= form_with model: [@post,@comment], url: public_post_comment_path(@post.id), method: :patch do |f| %>

        <table class="col">
          <tr>
            <td><%= f.text_area :comment_content, class: "form-control", rows: "8" %></td>
          </tr>
          <tr>
            <td>
              <%= f.submit "変更を保存", class: "btn btn-success" %>
            </td>
          </tr>
        </table>

      <% end %>
    </div>
  </div>
  <div class="col-sm-8 mx-auto my-5">
    <%= link_to  public_post_path(@post.id), class: "default-color other-link" do %>
      <i class="fas fa-solid fa-reply mr-2"></i>戻る
    <% end %>
  </div>
</div>