<div class="container">
  <section class="col-8 m-auto text-center">
    <h2 class="h2">about</h2>
    <br>
    <p>
      このサイトはペットの管理兼日常の出来事を共有するための日記サイトです。<br>
      日々の些細な出来事を誰かしらと共有できるようなそんなサイトにしていきたいです。
    </p>
  </div>
</div>