<div class="container">
  <div class="row">
    <div class="col-10 m-auto">
      <h2 class="pb-5">会員一覧</h2>
      <div class="col text-field admin-customers">
        <table class="col text-center">
          <thead>
            <th>ハンドルネーム</th>
            <th>メールアドレス</th>
            <th>投稿一覧</th>
            <th>ステータス</th>
          </thead>

          <tbody>
            <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.nick_name %></td>
              <td><%= customer.email %></td>
              <td><%= link_to "投稿一覧", admin_customer_posts_path(customer.id), class: "btn-links col" %></td>
              <td><%= customer.is_deleted? %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>