<div class="container">
  <div class="row">
    <div class="col-md-10 m-auto">
      <div class="h2 bold pb-5">会員一覧</div>
      <div class="col text-field admin-customers custom-table">
        <table class="col text-center">
          <thead>
            <th>HN</th>
            <th>Email</th></th>
            <th>Posts</th>
            <th>Status</th>
          </thead>

          <tbody>
            <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.nick_name %></td>
              <td><%= customer.email %></td>
              <td><%= link_to "一覧", admin_customer_posts_path(customer.id), class: "btn-links col" %></td>
              <td><%= link_to customer.is_deleted?, edit_admin_customer_path(customer.id), class: "other-link" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>