<div class="container">
  <h2>お気に入りアイテム</h2>
  <div class="row">
    <div class="f-items col-md-8 text-field">
      <% if @favorite_items.count >= 1 %>
      <table class="m-auto">
        <thead>
          <th>表示名</th>
          <th>アイテム一覧</th>
          <th colspan="2"></th>
        </thead>

        <tbody>
        <% @favorite_items.each do |favorite_item| %>
        <tr>

          <td>
            <%= favorite_item.favorite_item_name %>
          </td>

          <% favorite_item_details = FavoriteItemDetail.where(favorite_item_id: favorite_item.id)%>
          <td>
            <% favorite_item_details.each do |favorite_item_detail| %>
              <%= favorite_item_detail.item.item_name %><br>
            <% end %>
          </td>

          <td>
            <%= link_to "編集", edit_public_favorite_item_path(favorite_item.id), class: "btn-sm btn-revers" %>
          </td>
          <td>
            <%= link_to "削除", public_favorite_item_path(favorite_item.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn-sm btn-revers"%>
          </td>
          
        </tr>
        <% end %>
        </tbody>
      </table>
      <% else %>
       お気に入りは登録されていません
      <% end %>
    </div>
  </div>
</div>