/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/


/*リセット*/
* {
  box-sizing: border-box;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -ms-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

p,div,td,th,h1,h2,h3,ul {
  font-weight: normal;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  text-decoration-line: none;
}


/*css*/

.image {
  border-radius: 30px;
}

.object-fit-img {
  object-fit: cover;
  font-family: 'object-fit: cover;'
}

.other-link {
  text-decoration: none;
  font-weight: bold;
  color: #EA6B66;
}

.other-link:hover {
  text-decoration: none;
  color: #00f;
}

.align-items-center {
  align-items: center;
}

.text-field {
  color: #EA6B66;
  background-color: #FFF2CC;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 5px 5px 5px gray;
}

.box-shadow {
  box-shadow: 5px 5px 5px gray;
}

.default-color {
  text-decoration: none;
  color: #FFF2CC;
}

.btn-revers {
    background-color: #FFF2CC;
    color: #EA6B66;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid #EA6B66;
    box-shadow: 5px 5px 5px gray;
  }

.btn-revers:hover {
    color: #FFF2CC;
    background-color: #EA6B66;
    border: 1px solid #FFF2CC;
    text-decoration: none;
}

.btn-links {
    background-color: #FFF2CC;
    color: #EA6B66;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid #EA6B66;
    box-shadow: 5px 5px 5px gray;
    text-align: center;
    display: inline-block;
    }

.btn-links:hover {
    color: #FFF2CC;
    background-color: #EA6B66;
    text-decoration: none;
}

.details-link {
    float: right;
    text-decoration: none;
    color: #87ceeb;
    background-color: #fff;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    border: 1px solid #87ceeb;
}

.details-link:hover {
    background-color: #87ceeb;
    border: 1px solid #87ceeb;
    text-decoration: none;
    color: #fff;
    }

.underline {
  text-decoration-line: underline;
  text-decoration-color: #333;
}
.bold {font-weight: bold;}
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.flex {display: flex;}
.align-center {
  align-items: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.inner {
  width: 840px;
  margin: 0 auto;
}

/*paginate*/
.pagination{
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.pagination span{
  background-color: rgba(158, 158, 158, 0.4);
  text-align: center;
  width: 50px;
  border: solid 1px #344963;
  color: rgb(197, 20, 159);
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.pagination span:hover{
  transition: .3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.pagination span a:hover{
  transition: .3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}