/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require simple_calendar
*/
.bootstrap-date-only-width {
  width: auto; }

div.container h2 {
  font-weight: bold; }

#error_explanation {
  font-size: 12px;
  color: red;
  padding-bottom: 20px;
  width: 100%; }
  #error_explanation h2 {
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold; }
  #error_explanation ul {
    padding-left: 20px;
    list-style: circle; }

.field_with_errors {
  display: contents; }
  .field_with_errors input,
  .field_with_errors textarea {
    border: 1px solid red; }

.text-invalid {
  color: #bbb; }

.text-active {
  font-weight: bold;
  color: #0a0; }

h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500; }

input,
textarea,
select {
  padding: 8px; }

header {
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #F9F7ED; }
  header * {
    position: relative;
    z-index: 100; }

main {
  padding: 100px 0;
  background-color: #EA6B66;
  min-height: 100vh;
  width: 100%; }

footer {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
  background-color: #F9F7ED; }

th {
  padding: 10px;
  border-style: solid;
  border-color: #aaa; }

td {
  padding: 10px;
  border-style: solid;
  border-color: #aaa; }

table.mypage_info {
  width: 500px;
  border: thin inset green;
  border-collapse: collapse; }
  table.mypage_info td:first-child {
    background-color: lightgray; }
  table.mypage_info td {
    border: solid 1px;
    background-color: #F9F7ED; }

table.customer_info {
  width: 100%; }
  table.customer_info thead th:first-child {
    width: 30%; }
  table.customer_info thead th:last-child {
    width: 35%; }

label.customer_name {
  display: inline-block;
  padding-right: 14px; }

div.outer {
  text-align: center;
  margin: 20vh 0; }
  div.outer div.inner {
    display: inline-block; }
    div.outer div.inner h2 {
      margin: 50px 0; }

div.messages {
  color: #FFF2CC;
  margin: 0 auto 30px; }
  div.messages p {
    font-size: 26px; }

div.profile-field {
  background-color: #FFF2CC;
  border-radius: 10px;
  padding: 50px 0;
  box-shadow: 5px 5px 5px gray; }
  div.profile-field table td {
    color: #EA6B66; }
    div.profile-field table td img.customer-image {
      width: 100%;
      border-radius: 100%;
      display: block;
      margin: 0 auto; }
    div.profile-field table td a {
      color: #EA6B66;
      border-color: #EA6B66; }

div.self-introduction {
  background-color: #fff;
  height: 200px;
  border-radius: 30px;
  text-align: center;
  padding-top: 50px;
  margin: 0 auto; }
  div.self-introduction p {
    font-size: 21px;
    font-weight: bold; }

div.customer-pet-index {
  padding: 0; }
  div.customer-pet-index h3 {
    margin: 48px 0; }
  div.customer-pet-index div.customer-pet-list div.customer-pet-link {
    height: 250px;
    text-align: center;
    margin-bottom: 30px; }
    div.customer-pet-index div.customer-pet-list div.customer-pet-link img {
      border-radius: 100%;
      margin: 20px; }

div.pet-title {
  line-height: 50px;
  margin: 0 auto;
  display: flex;
  text-align: center; }

div.pet-index div.pet-list div.pet-link {
  height: 250px;
  text-align: center;
  margin-bottom: 30px; }
  div.pet-index div.pet-list div.pet-link img {
    border-radius: 100%;
    margin: 20px; }

p.no-pets {
  line-height: 250px;
  font-size: 30px;
  display: inline-block; }

div.pet-show {
  margin: 50px 0 50px;
  width: 100%;
  background-color: #FFF2CC;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray; }
  div.pet-show div.introduction-field {
    font-size: 24px;
    margin: 20px 0; }
    div.pet-show div.introduction-field th {
      color: #EA6B66; }
    div.pet-show div.introduction-field td {
      text-align: center;
      color: #EA6B66; }
      div.pet-show div.introduction-field td div.pet-nav {
        background-color: #EA6B66;
        margin: 30px 0;
        padding: 10px 0;
        border-radius: 10px; }
        div.pet-show div.introduction-field td div.pet-nav a {
          color: #FFF2CC;
          font-weight: bold; }
        div.pet-show div.introduction-field td div.pet-nav a:hover {
          background-color: #FFF2CC;
          color: #EA6B66; }
  div.pet-show div.pet-profile {
    text-align: center;
    margin: 50px 0; }
    div.pet-show div.pet-profile img {
      border-radius: 20px; }

div.post-index {
  background-color: #FFF2CC;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray; }
  div.post-index thead {
    border-bottom: 1px solid #EA6B66; }
    div.post-index thead th {
      color: #EA6B66;
      font-weight: bold; }
  div.post-index td {
    text-decoration: none;
    color: #EA6B66; }
    div.post-index td a {
      color: #EA6B66; }

div.post-show {
  padding: 0;
  margin: 0 auto;
  height: 100%; }
  div.post-show div.content {
    background-color: #FFF2CC;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray; }
    div.post-show div.content div.post-image {
      margin: 0 auto; }
      div.post-show div.content div.post-image img {
        width: 100%;
        height: 100%;
        margin: 60px auto;
        display: block;
        border-radius: 10px; }
  div.post-show div.post-text {
    margin: 0 auto;
    text-align: center; }
    div.post-show div.post-text h3 {
      margin: 10px 0; }
    div.post-show div.post-text p {
      font-size: 21px; }
    div.post-show div.post-text div {
      text-align: end; }
  div.post-show div.comment textarea {
    margin: 20px auto 0; }

div.no-posts {
  height: 300px;
  line-height: 300px;
  font-size: 30px; }

div.items-list {
  padding: 10px;
  margin: 30px 0; }
  div.items-list table tr td a.item-link {
    text-decoration: none;
    color: #EA6B66; }
  div.items-list div.not-items-list p {
    color: #EA6B66;
    min-height: 300px;
    font-size: 26px;
    line-height: 300px;
    text-align: center; }

div.item-record {
  margin: 30px 0; }

div.item-show {
  height: 270px;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 30px; }
  div.item-show table {
    margin: 0 auto;
    font-size: 26px; }
    div.item-show table tr:first-child th {
      border-radius: 20px 0 0 0; }
    div.item-show table tr:first-child td {
      font-size: 15px; }
    div.item-show table tr:nth-last-child(1) th {
      border-radius: 0 0 0 20px;
      border-bottom: none; }
    div.item-show table tr {
      text-align: center; }
      div.item-show table tr th {
        border-bottom: 3px solid #FFF2CC;
        background-color: #EA6B66;
        color: #FFF2CC;
        font-weight: bold; }
    div.item-show table tr td div.add-amount-used {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center; }

div.use-item-title {
  line-height: 50px;
  margin: 30px 10px;
  display: flex; }

div.use-item-index div.use_item_list {
  margin-top: 30px; }
  div.use-item-index div.use_item_list th {
    font-weight: bold; }
  div.use-item-index div.use_item_list div.not-use-items {
    min-height: 250px;
    line-height: 250px;
    font-weight: bold;
    font-size: 30px;
    text-align: center; }

div.work-create div.pet-select {
  margin-top: 0;
  height: 230px; }
  div.work-create div.pet-select th {
    font-weight: bold; }

div.items-link {
  margin: 30px auto;
  text-align: center; }
  div.items-link a {
    margin: 0 auto; }

div.work-create {
  margin: 50px auto; }
  div.work-create div.pet-select {
    height: 300px;
    padding-top: 50px; }

div.work-index div.work-list table {
  font-size: 10px; }
  div.work-index div.work-list table thead th:nth-child(-n+2) {
    padding-left: 20px; }
  div.work-index div.work-list table thead th {
    font-weight: bold;
    font-size: 15px; }

div.work-show {
  margin: 50px auto; }
  div.work-show table tr th {
    font-weight: bold; }
  div.work-show table tr td {
    text-align: center; }
    div.work-show table tr td div span {
      display: flex; }

div.no-works {
  height: 300px;
  line-height: 300px;
  font-size: 30px; }

div.f-items {
  margin: 0 auto; }
  div.f-items tr th {
    font-weight: bold; }

div.no-favorite-items {
  text-align: center;
  line-height: 300px;
  height: 300px;
  font-size: 30px; }

div.calendar {
  font-size: 10px; }

a.schedule-link {
  text-decoration: none;
  color: #EA6B66;
  font-weight: bold; }

div.schedule-show {
  margin: 50px auto; }
  div.schedule-show table tr td {
    font-weight: bold; }

div.follow-field table tr td img {
  border-radius: 100%;
  display: inline-block; }
div.follow-field table tr td a {
  text-decoration: none;
  color: #EA6B66;
  margin: 10px 0 10px 10px; }

table.admin-table {
  margin-top: 50px; }
  table.admin-table th {
    background-color: lightgray; }
  table.admin-table td {
    background-color: white; }

/*# sourceMappingURL=application.css.map */
