/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
#error_explanation {
  color: red;
  padding-bottom: 20px;
  width: 100%; }
  #error_explanation h2 {
    font-size: 20px;
    font-weight: bold; }
  #error_explanation ul {
    padding-left: 50px;
    list-style: circle; }

.field_with_errors {
  display: contents; }
  .field_with_errors input,
  .field_with_errors textarea {
    border: 1px solid red; }

.text-invalid {
  color: #bbb; }

.text-active {
  font-weight: bold;
  color: #0a0; }

h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500; }

input,
textarea,
select {
  padding: 8px; }

header {
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #F9F7ED; }
  header * {
    position: relative;
    z-index: 100; }

main {
  padding: 100px 0;
  background-color: #EA6B66;
  min-height: 100vh; }

footer {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
  background-color: #F9F7ED; }

th {
  padding: 10px;
  border-style: solid;
  border-color: #aaa; }

td {
  padding: 10px;
  border-style: solid;
  border-color: #aaa; }

table.mypage_info {
  width: 500px;
  border: thin inset green;
  border-collapse: collapse; }
  table.mypage_info td:first-child {
    background-color: lightgray; }
  table.mypage_info td {
    border: solid 1px;
    background-color: #F9F7ED; }

table.customer_info {
  width: 100%; }
  table.customer_info thead th:first-child {
    width: 30%; }
  table.customer_info thead th:last-child {
    width: 35%; }

label.customer_name {
  display: inline-block;
  padding-right: 14px; }

div.outer {
  text-align: center;
  margin: 20vh 0; }
  div.outer div.inner {
    display: inline-block; }
    div.outer div.inner h2 {
      margin: 50px 0; }

div.self-introduction {
  background-color: #fff;
  height: 200px;
  border-radius: 30px;
  text-align: center;
  padding-top: 50px; }
  div.self-introduction p {
    font-size: 21px;
    font-weight: bold; }

div.pet-index h2 {
  width: 400px;
  line-height: 50px;
  margin-bottom: 30px; }
div.pet-index div.pet-list {
  display: flex; }
  div.pet-index div.pet-list div.pet-link {
    width: 250px;
    height: 250px;
    text-align: center; }
    div.pet-index div.pet-list div.pet-link img {
      border-radius: 100%;
      margin: 20px; }

div.pet-show {
  margin: 0;
  width: 100%;
  background-color: #FFF2CC;
  border-radius: 20px; }
  div.pet-show div.introduction-field {
    font-size: 24px;
    margin: 20px 0; }
    div.pet-show div.introduction-field th {
      color: #EA6B66; }
    div.pet-show div.introduction-field td {
      text-align: center;
      color: #EA6B66; }
  div.pet-show div.pet-profile {
    text-align: center;
    margin: 50px 0; }
    div.pet-show div.pet-profile img {
      border-radius: 20px; }

div.post-index {
  background-color: #FFF2CC;
  border-radius: 10px; }
  div.post-index th {
    color: #EA6B66;
    font-weight: bold; }
  div.post-index td {
    text-decoration: none;
    color: #EA6B66; }
    div.post-index td a {
      color: #EA6B66; }

div.post-show {
  padding: 0;
  margin: 0 auto;
  height: 100%; }
  div.post-show div.content {
    background-color: #FFF2CC;
    border-radius: 10px; }
    div.post-show div.content div.post-image {
      margin: 0 auto; }
      div.post-show div.content div.post-image img {
        width: 100%;
        height: 100%;
        margin: 60px auto;
        display: block;
        border-radius: 10px; }
  div.post-show div.post-text {
    margin: 0 auto;
    text-align: center; }
    div.post-show div.post-text h3 {
      margin: 10px 0; }
    div.post-show div.post-text p {
      font-size: 21px; }
    div.post-show div.post-text div {
      text-align: end; }
  div.post-show div.comment textarea {
    margin: 20px auto 0; }

table.admin-table {
  margin-top: 50px; }
  table.admin-table th {
    background-color: lightgray; }
  table.admin-table td {
    background-color: white; }

/*# sourceMappingURL=application.css.map */
