<% @notifications = @notifications.where.not(visitor_id: current_customer.id) %>
<% if @notifications.exists? %>
  <%= render "public/shared/notifications", notifications: @notifications  %>
  <%= paginate @notifications %>
<% else %>
  <div class="container">
    <div class="col-5 h2 mx-auto pt-5 text-center"><p>通知はありません</p></div>
  </div>
<% end %>